<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Data</title>
</head>
<body>
    <h3>Housing Data</h3>
<div>
    <form action="/result" method="POST">
        <label for="CRIM">CRIM</label>
        <input type="text" id="CRIM" name="CRIM">
        <br>

        <label for="ZN">ZN</label>
        <input type="text" id="ZN" name="ZN">
        <br>

        <label for="INDUS">INDUS</label>
        <input type="text" id="INDUS" name="INDUS">
        <br>

        <label for="CHAS">CHAS</label>
        <input type="text" id="CHAS" name="CHAS">
        <br>

        <label for="NOX">NOX</label>
        <input type="text" id="NOX" name="NOX">
        <br>

        <label for="RM">RM</label>
        <input type="text" id="RM" name="RM">
        <br>

        <label for="AGE">AGE</label>
        <input type="text" id="AGE" name="AGE">
        <br>

        <label for="DIS">DIS</label>
        <input type="text" id="DIS" name="DIS">
        <br>

        <label for="RAD">RAD</label>
        <input type="text" id="RAD" name="RAD">
        <br>

        <label for="TAX">TAX</label>
        <input type="text" id="TAX" name="TAX">
        <br>

        <label for="PTRATIO">PTRATIO</label>
        <input type="text" id="PTRATIO" name="PTRATIO">
        <br>

        <label for="B1000">B1000</label>
        <input type="text" id="B1000" name="B1000">
        <br>

        <label for="LSTAT">LSTAT</label>
        <input type="text" id="LSTAT" name="LSTAT">
        <br>

        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>